/* styles.css */

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header h1 {
  margin: 0;
}

header h2 {
  margin: 0;
  font-size: large;
}

nav ul {
  list-style-type: none;
  padding: 0;

}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  text-decoration: underline;
  font-size: x-large;
}

nav ul li a:hover {
  color: #007bff;
}

main {
  margin: 0 25%;
  text-align: center;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* Footer Styles */
footer {
  background-color: #f1f1f1;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-links {
  display: flex;
  align-items: center; /* Aligns items in the middle */
  gap: 30px; /* Space between the icons */
}

.contact-links a {
  display: flex;
  align-items: center; /* Ensures text and icons are aligned in a row */
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.icon {
  width: 24px; /* Adjust size of the icons */
  height: 24px;
  margin-right: 8px; /* Space between the icon and the text */
}